*{
    font-family: "Lucida Sans Typewriter", "Lucida Console", "Monaco", "Bitstream Vera Sans Mono", monospace;
}

body  {
  background-color: rgb(33, 33, 33);
}

.entry:after {
  background-color: rgb(44,44,44);
  list-style: none;
  color: white;
}

.entry:hover{
  background-color: rgb(77,77,77);
}

.entry img {
  margin: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  padding: 15%;
  border-radius: 100%;
  border: 5px double white;

}

.search {
  position: fixed;
  top: 0;
  width: 100%;
}

#search-form {
  text-align: center;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 12pt;
  transition: 1s;
  color: rgb(77,77,77);
  background-color: rgb(44,44,44);
}

hr, #search-form:focus {
  text-align: center;
  font-size: 12vh;
  transition: 1s;
  width: 90%;
  margin: 10% 5% 1% 5%;
  color: rgb(140,140,140);
  border: 1px solid rgb(77,77,77);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(77,77,77);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgb(77,77,77);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgb(77,77,77);
}
:-moz-placeholder { /* Firefox 18- */
  color: rgb(77,77,77);
}

::-webkit-search-cancel-button{
  display: none;
}

::-ms-clear{
  display: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

audio {
  width:100%;
  background-color: white;
}

.player {
  width: 100%;
  bottom: 0;
  position: fixed;
  border-top: 1px solid white;
  margin: 0%;
  padding: 0%;
  background: white;
}

#results-section {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#current-track-info {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  background-color: rgb(33, 33, 33)
}

#current-track-info div {
  text-align: center;
  width: 33%;
  color: white;
  flex-shrink: 1;
  flex-grow: 1;
  font-size: 10pt;
  font-size-adjust: auto;
}

.entry {
  border: 1px solid rgb(77,77,77);
}

@media screen and (max-width:360px){
  .entry {
    display: inline-block;
    text-align: center;
    width: 90%;
    list-style: none;
    color: white;
    margin: 0% 5% 5% 5%;
    padding-bottom: 3%;
  }

  .entry p {
    font-size: 8pt;
  }

}

@media screen and (min-width:361px){

  .entry {
    text-align: center;
    background-color: rgb(44,44,44);
    width: 44%;
    list-style: none;
    color: white;
    margin: 0% 2.5% 5% 2.5%;
    padding-bottom: 18pt;
  }

  .entry p {
    font-size: 6pt;
    margin: 0pt;
  }

}


@media screen and (min-width:768px){

  .entry {
    text-align: center;
    background-color: rgb(44,44,44);
    /*height: 30vw;*/
    width: 31%;
    list-style: none;
    color: white;
    margin: 0% 1% 5% 1%;
    padding-bottom: 20pt;

  }

  .entry p {
    font-size: 8pt;
    margin: 0pt;
  }

}

@media screen and (min-width:1024px){

  .entry {
    text-align: center;
    background-color: rgb(44,44,44);
    width: 22.5%;
    list-style: none;
    color: white;
    margin: 0% 1% 5% 1%;
    padding-bottom: 18pt;
  }

  .entry p {
    font-size: 6pt;
    margin: 0pt;
  }

}
