*{
    font-family: "Lucida Sans Typewriter", "Lucida Console", "Monaco", "Bitstream Vera Sans Mono", monospace;
}

body {
  background-color: rgb(33, 33, 33);
}

.entry {
  background-color: rgb(44,44,44);
  list-style: none;
  color: white;

}

.entry img {
  margin: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 50%;
  width: 50%;
  padding: 15%;
  border-radius: 100%;
  border: 5px double white;

}

#search-form {
  text-align: center;
  width: 50%;
  margin: 1% 25% 1% 25%;
  height: 100%;
  border: none;
  font-size: 18pt;
  transition: 1s;
  border: 1px solid white;
}

hr, #search-form:focus {
  text-align: center;
  font-size: 40pt;
  transition: 1s;
  width: 90%;
  margin: 1% 5% 1% 5%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

audio {
  width:100%;
  background-color: white;
}

.player {
  width: 101%;
  bottom: 0;
  position: fixed;
  border-top: 1px solid white;
  margin: -1%;
  padding: 0%;
  background: white;
}

#results-section {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}


/* Custom, iPhone Retina */
@media screen and (min-width : 110px) and (orientation : portrait) {
  .entry {
    display: inline-block;
    text-align: center;
    height: 90vw;
    width: 90%;
    list-style: none;
    color: white;
    margin-bottom: 5%;
    padding-bottom: 3%;
  }

  .entry p {
    text-align: center;
    font-size: 16pt;
    margin: 0pt;
  }

}

/* Extra Small Devices, Phones */
@media screen and (min-width : 100px) and (orientation : landscape) {

  .entry {
    text-align: center;
    background-color: rgb(44,44,44);
    height: 40vw;
    width: 40%;
    list-style: none;
    color: white;
    margin: 0% 3% 5% 3%;
    padding-bottom: 3%;
  }

  .entry p {
    font-size: 8pt;
    margin: 0pt;
  }

}



/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (orientation : portrait){

  .entry {
    text-align: center;
    background-color: rgb(44,44,44);
    height: 30vw;
    width: 30%;
    list-style: none;
    color: white;
    margin: 0% 1% 5% 1%;
    padding-bottom: 5%;
  }

  .entry p {
    font-size: 8pt;
    margin: 0pt;
  }

}

@media only screen and (min-width : 768px) and (orientation : landscape){

  .entry {
    text-align: center;
    background-color: rgb(44,44,44);
    height: 23vw;
    width: 23%;
    list-style: none;
    color: white;
    margin: 0% 1% 5% 1%;
    padding-bottom: 5%;
  }

  .entry p {
    font-size: 6pt;
    margin: 0pt;
  }

}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
